
  h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
} 

#box p span{
    /* margin-right: 40px; */
    text-align: right !important;
    position: absolute;
    
    right: 30px;
}


#box:hover{
    transform: scale(1.1); 
}
#box p span:hover{
    transform: scale(1.4); 
}
