
 
    .hidden{
    display: none;
   }
.mystyle{
    display: block;
    background-blend-mode: lighten;
   visibility: visible;

}

.calender {
    margin-left: 5%;
    transform: scaleX(1.5);
    margin-top: 5%;
    z-index: 1;
    position: absolute;
}
h2{
    margin-left: -75%;
    margin-top: 3%;
    
}
body{
   background-color: #40f570;
}
.DayPicker-Weekday{
    color:black !important;
}
input[type="text"]{
    border-radius: 25px;
    border: 2px solid #609;
    padding: 10px; 
    width: 200px;
    height: 45px; 
   
}
.box {
    margin-left: 40%;
    margin-top: 4%;
    background-color: white;
    width: 500px;
    height: 450px;
    z-index: 2;
    position: absolute;
    border-radius: 15%;
}
button{
   margin-left: -75%;
}
#disp {
    position: absolute;
    margin-top: 28%;
    margin-left: 10%;
}
form{
    margin-top: 35%;
}

label{
    font-size: 24px;
}
#output{
    background-color: white;
}
.active{
filter: blur(20px);
}