
h2 {
  left: 35%;
  top: 15%;
  /*position: absolute;*/
}
.calender {
 
  top: 5%;
  z-index: 1;
}

body {
  background-color: #40f570;
}
.DayPicker-Weekday {
  color: black !important;
}
input[type="text"] {
  border-radius: 5px;
  border: 2px solid #609;
  padding: 10px;
  width: 200px;
  height: 35px;
  margin-top: 3%;
}
.modal-content {
  border-radius: 20px;
 
}
/*.modal {
  top: 60px;
}
.modal-body {
  left: 0%;
  top: 14%;
  background-color: white;
  width: 100%;
  height: 450px;
  z-index: 2;
  border-radius: 50px;
}*/
button {
  margin-left: 3% !important;
}

.left {
  /* align-self: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;*/
}
form {
  margin-top: 10%;
}

label {
  font-size: 24px;
}
#output {
  background-color: white;
}

.btn-danger {
  right: 150px;
}

[type="submit"]:not(:disabled) {
  cursor: pointer;

  right: 40px;
  height: 49px;
}
h1,
.h1 {
  font-size: 1.5rem;
}

/*#rest {
  position: inherit;
}*/
/*.mybox {
  position: absolute;
  left: 33%;
}*/
#box {
  background-color: white;
  margin-right: 30%;

  width: 100%;
  border-radius: 10px;
  height: 70px;
  text-align: left;
  padding-left: 5%;
}
#box p span {
  padding-right: 5%;
}
.btn-dark {
  margin-top: 4%;
}
p {
  margin-top: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: x-large;
}
#val2 {
  top: 190px;
}
#val1 {
  top: 80px;
  left: 190px;
}

#disp {
  /* text-align: left; */
  padding-top: 7%;
  
}
.DayPicker {
  max-width: 100%;
}
.row {
  padding: 50px 32px;
}
@media (max-width: 767px) {
  .mybox {
    margin-top: 5%;
  }
  #disp{
    margin-top: 10%;
  }
}
.head {
  background-color: white;
  padding-top: 0% !important;
  
}
.modal {
 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 90%;
}
.modal-backdrop {
  
  width: 100%;
  height: 100%;
 
}
/*.mybox #box {
  margin-top: 4%;
}*/
/*@media (max-width: 680px) and (min-width: 480px) {
  .modal-content {
    width: 400px;
    margin-left: 10%;
  }
}
@media (max-width: 479px) and (min-width: 400px) {
  .modal-content {
    width: 350px;
    margin-left: 5%;
  }
}
@media (max-width: 360px) and (min-width: 310px){
  .modal-content{
    width: 300px !important;
    margin-left: 7%;
  }
}*/
/*@media (min-width: 320px) and (max-width: 500px) {
  .modal {
    left: 15px;
  }
  #disp {
    top: 340px;
    left: 60px;
  }
  h1,
  .h1 {
    font-size: 1.8rem;
  }
  .mybox {
    top: 540px;
    left: 10%;
  }
  #box {
    width: 300px;
  }
  .calender {
    left: 45px;
    top: 5%;
    transform: scaleX(1.2);
  }
  .modal-body {
    top: 0%;
  }
  .modal-content {
    border-radius: 20px;
    top: 60px;
    height: 400px;
    width: 318px;
  }
  [type="submit"]:not(:disabled) {
    cursor: pointer;
    position: absolute;
    left: 195px;
    height: 45px;
  }
  .btn-danger {
    left: 100px;
    height: 45px;
  }
  form {
    margin-top: 20%;
  }
  h2 {
    margin-top: 0px;
    margin-left: 5%;
  }
  .btn-dark {
    margin-top: 14%;
  }
  #null {
    top: 550px;
    position: absolute;
    font-size: 1.7rem;
    left: 46px;
  }
  p {
    left: -12%;
    font-size: 1.3rem;
  }
  #val1 {
    top: 55px;
    left: 85px;
  }
  #val2 {
    top: 155px;
    left: 75px;
  }
  input[type="text"] {
    height: 35px;
    margin-top: 35px;
    margin-left: 50px;
  }
}
@media (min-width: 380px) and (max-width: 400px) {
  .calender {
    left: 55px;
  }
  .mybox {
    left: 11%;
  }
  .modal-dialog {
   left: 13px;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  .calender {
    transform: scaleX(1.4);
    left: 65px;
  }
  h1 {
    font-size: 1.9rem;
  }
  #disp {
    left: 68px;
    top:400px;
  }
  .mybox {
    top: 610px;
    left: 14%;
  }
  #null {
    left: 60px;
    top: 600px;
  }
  .modal-content{
    left: 25px;
  }
  .modal{
    top:100px
  }
}
@media (min-width: 475px) and (max-width: 500px) {
  .calender {
    transform: scaleX(1.4);
    left: 95px;
  }
  #box {
    width: 370px;
  }
  #disp {
    left: 90px;
    top: 380px;
  }
  h1 {
    font-size: 2.2rem;
  }
  .mybox {
    top: 620px;
    left: 58px;
  }
  #null
   {
     left: 50px;
     top: 610px;
     font-size: 35px;
  }
  .modal-content {
    left: 20px;
    width: 400px;
    top: 170px;
  }
  #val1{
    left: 115px;
  }
  input[type="text"] {
    margin-left: 75px;
  }
  #val2 {
    top: 165px;
    left: 105px;
  }
  [type="submit"]:not(:disabled) {
   left: 228px !important;
  }
  .btn-danger{
    left: 120px;
    
  }
}
@media (max-width: 350px) {
  .calender {
    left: 22px;
    transform: scaleX(1.1);
  }
  #disp {
    top: 395px;
    left: 37px;
  }
  #box {
    width: 250px;
  }
  #null {
    font-size: 1.4rem;
    top: 595px;
  }
  .mybox {
    left: 11%;
    top: 585px;
  }
  #add{
    margin-left: 0px !important;
  }
  .modal-content{
    width: 270px;
    left: 5px;
    top: 10px;
  }
  input[type="text"] {
    margin-top: 35px;
    margin-left: 20px;
}
.second {
  margin-top: 50px !important;
}
[type="submit"]:not(:disabled) {
  left: 165px;
}
.btn-danger{
  left: 65px;
}
.modal{
  top: 25px;
  left: 10px;
}
}

@media (min-width: 500px) and (max-width: 640px) {
  #box {
    width: 410px;
  }
  #add {
    
    height: 80px;
    font-size: 30px;
  }
  .modal-body {
    top: 0%;
  }
  .modal-dialog {
    top: 10%;
    width: 467px;
    left: 5%;
  }
  .modal-content {
    height: 500px;
  }
  .calender {
    left: 134px;
    transform: scale(1.68);
    margin-top: 20%;
  }
  /*.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    font-size: 30px;
  }*/
/*#null {
    left: 19%;
    margin-top: 740px;
    position: absolute;
    font-size: 2.4rem;
  }
  #disp {
    position: absolute;
    top: 600px;
    left: 95px;
  }
  .mybox {
    margin-top: 855px;
    left: 12%;
  }

  #box p span {
    right: -40px !important;
  }
  .btn-danger {
    height: 65px;
    width: 110px;
    font-size: 34px;
    left: 185px;
  }
  #val1,
  #val2 {
    font-size: 50px;
    left: 156px;
  }
  #val2 {
    top: 212px;
  }
  input[type="text"] {
    width: 300px;
    height: 45px;
    margin-top: 50px;
    margin-left: 65px;
  }
  .second {
    margin-top: 60px !important;
  }
  [type="submit"]:not(:disabled) {
   
    right: -15px;
    height: 65px;
    font-size: 34px;
}
}
@media (min-width: 650px) and (max-width: 1100px) {
  .modal {
    top: 310px;
  }
  .modal-content {
    width: 610px;
    left: 20px;
  }
  .modal-dialog {
    max-width: 650px;
  }
  #disp {
    top: 40%;
    left: 55px;
  }
  #null {
    position: absolute;
    left: 53%;
  }
  .calender {
    transform: scaleX(1.1);
    left: 30px;
  }
  h1,
  .h1 {
    font-size: 2rem;
  }
  .mybox {
    left: 50%;
    margin-top: 7%;
  }
  #box {
    width: 356px;
  }
  P {
    left: -15%;
  }
  form {
    margin-top: 10%;
    height: 300px;
}
input[type="text"] {
  
  width: 300px;
  height: 45px;
  margin-top: 60px;

}
#val1 {
  top: 60px;
  left: 230px;
  font-size: 45px;
}
#val2{
  font-size: 45px;
}

.btn-danger {
    position: absolute;
    left: 230px;
    height: 65px;
    font-size: 35px;
}
[type="submit"]:not(:disabled) {
  right: 60px;
  height: 63px;
  font-size: 35px;
}
.DayPicker-Months {
  font-size: 20px;
}
}
@media (min-width:590px) and (max-width:640px){
  .calender{
    left: 164px;
  }
  #disp{
    left: 125px;
  }
  .mybox{
    left: 17%;
  }
  .modal-dialog{
    left: 0%;
  }
  #null {
    left: 22%;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  #disp {
    top: 38%;
    left: 85px;
  }
  .mybox {
    left: 54%;
  }
  .calender{
    left: 60px;
  }
}*/
